/* HTML Selectors */
body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Nunito', sans-serif;
}

h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

/* Headings */
.title-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Title & Navbar Styling */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

.download-btn {
  margin: 5% 3% 5% 0;
}

.title-img {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 25%;
}

/* Feature Section */
#features {
  position: relative;
}

.feature-title {
  font-size: 1.25rem;
}

.feature-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #ff4c68;
}

.feature-box {
  padding: 5%;
}

/* Testimonial */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  line-height: 1.5;
  font-size: 2.5rem;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press */
#press {
  padding-bottom: 3%;
  background-color: #ef8172;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.plan-name {
  font-size: 1.25rem;
}

.price-text {
  line-height: 1.5;
  font-size: 2.5rem;
}

/* CTA Section */


/* Footer */
.icons {
  margin: 0 15px 15px;
}

/* Media Queries */
@media (max-width: 990px) {
  .title-img {
    position: static;
    transform: rotate(0deg);
  }

  #title {
    text-align: center;
  }
}
